<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyZoom</title>
  <script>
    console.log("<%= roomId %>");
  </script>
</head>
<body>
  <div id="video-grid">

  </div>
  <!-- The script needs to be loaded at the end
  Otherwise, it wont have access to all HTML elements as they are not yet loaded -->
  <script src="script.js"></script>
</body>
</html>