<!-- EJS view engine -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <!-- to access socket.io from front end which is served from our server -->
  <script src="/socket.io/socket.io.js"></script>
  <title>MyZoom</title>
  <script>
    // This ROOM_ID can now be accessed in script.js
    const ROOM_ID = "<%= roomId %>"
  </script>
</head>
<body>
  <div id="video-grid">

  </div>
  <!-- The script needs to be loaded at the end
  Otherwise, it wont have access to all HTML elements as they are not yet loaded -->
  <script src="script.js"></script>
</body>
</html>